*{
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
	font-size: 3em;
	margin-top: 1em;
}

.buscador-home{
	margin-top: 20px;
	margin-bottom: 10px;
}
.list-group-item{
	min-height: 200px;	
	border: none;
}
.contenido-home{
	margin-top: 2em;
}
