*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 6em; 
}


.buscador-home{
	margin-top: 20px;
	margin-bottom: 10px;
}
.list-group-item{
	border: none;
	min-height: 200px;	
}
.contenido-home{
	margin-top: 2em;
}

.botton_user{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;

}

.categorias, .formas-de-pago, .tu-mejor-restaurante{
	color: #5C5C5C;
	font-size: 2em;
	font-weight: bold;
}

.navbar{
	padding: 5px 0;
}


.imagen-modal{
	margin-left: 1em;
}

.container-user{
	margin-bottom: 1em;
}

.glyphicon-user{
	font-size: 3em;
}

.container-items-modal{
	padding:0 3em;
}
.subtitle-modal{
	font: 3em bold;
	text-shadow: 0 2px 2px #000;
	padding-left: 2em;
	margin-top: 2em;
}
.container-description-modal{
	vertical-align: top;
	font-size: 1.5em;
}
.panel{
	margin-bottom: 6em;

}