*{
	margin: 0;
	padding: 0;
}
body{
	padding-top: 6em; 
}


.buscador-home{
	margin-top: 20px;
	margin-bottom: 10px;
}
.list-group-item{
	border: none;
	min-height: 200px;	
}
.contenido-home{
	margin-top: 2em;
}

.botton_user{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 1em;
}

.categorias, .formas-de-pago, .tu-mejor-restaurante{
	color: #5C5C5C;
	font-size: 2em;
	font-weight: bold;
}

.navbar{
	height: 80px;
}
.navbar-brand{
	font: normal 3.5em 'Cookie', cursive;
}
.navbar-nav {
	color: #FFF;
}
.navbar-nav li a{
	height: 80px;
	font-size: 2.5em;
}

.imagen-modal{
	margin-left: 1em;
}

.container-user{
	margin-bottom: 0.5em;
	margin-top: 3em;
}

.glyphicon-user{
	font-size: 3em;
}

.container-items-modal{
	padding:0 3em;
}
.subtitle-modal{
	font: 3em bold;
	text-shadow: 0 2px 2px #000;
	padding-left: 2em;
	margin-top: 2em;
}
.container-description-modal{
	vertical-align: top;
	font-size: 1.5em;
}
.panel{
	margin-bottom: 6em;
	background: #eee;

}

.modal-footer{
	margin-top: 2em;
}

.contador-modal{
	width: 80px;
	text-align: center;
	position: absolute;
	right: -80px;
	top: 25px;
	font-size:1.2em;
}

.textarea-modal{
	max-width: 100%;
	max-height: 100px;
}
.containers-restaurantes{
	max-height: 200px;
}
.pie-de-pagina{
	background: #616161;
	padding-left: 25%;
	width: 100%;
}
.items-footer small{
	width: 100px;
	height: 200px;
}

.link-inicio-sesion{
	color: #FFF;
	text-shadow: 0px 0px -3px #000;
}
.link-inicio-sesion:hover{
	text-decoration: none;
	color: #FFF;
}
.container-tips{
	width: 100%;
	border-bottom: 2px #eee solid;
	padding-top: 1em;	
}
