{% load static from staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang=""> <!--<![endif]-->
<head>



	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

	<script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">




	<script>
		window.ciudad = -1;
		window.categoria = -1;
		window.pago = -1;
	</script>


	<script type="text/template" id="tplRestaurantes">
		<div class="list-group">
			{% for restaurant ,tips in restaurants %}
				<a id="{{restaurant.id}}" class="list-group-item">
					<div class="col-sm-3 div_imagen">
						<img src="/media/{{restaurant.imagen.name}}" class="imgg_ img-rounded media-object img-responsive" alt="image">
					</div>
					<div class="col-sm-6">
						<h3>{{restaurant.name}}</h3>
						<p>{{restaurant.desciption}} </p>
					</div>
					<div class="col-sm-3 text-center">
						<h2>{{ tips }} <small>tips</small></h2>
					</div>
					<button type="button" data-id="{{restaurant.id}}" class="btn btn-lg btn-primary restaurantes" >Ver Detalle </button>
				</a>
			{% endfor %}
		</div>
	</script>
	

	<script type="text/template" id="tplDetalle">

		<h2 class="page-header col-lg-12"><%= todosRestaurantes.get("name") %></h2>
		<div class="row">
			<div class="col-lg-6">
				<img class="imagen-modal img-rounded media-object img-responsive" src="/media/<%= todosRestaurantes.get('imagen_name') %>" alt="">
			</div>
			<div class="col-lg-6">
				<p class="lead"><%= todosRestaurantes.get("desciption") %></p>
				<br />
				<br />
				<p>Tipos de pago: <%= todosRestaurantes.payment %></p>
				<br>
				<p>tipos de comida: asdasd asdasd adss</p>
			</div>
		</div>
		<div class="container-items-modal">
			<h4 class="page-header subtitle-modal">Tips</h4>
			<% todosRestaurantes.get("tip_set").forEach(function( asd) {%>

				<div class="container-user "><span class="glyphicon glyphicon-user " aria-hidden="true"><%= asd.usuario %></span></div>
				<div class="panel panel-default">
					<div class="panel-body"><span class="container-description-modal"><%= asd.content %></span></div><br/>
					
				</div>

			<%});%>
			<form action="">
				<div class="form-group">
				    <label for="exampleInputEmail1">Deja un Tip/Comentario.</label>
				    <input type="text" class="form-control"  placeholder="Deje un Tip">
				</div>
				 <button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>
	</script>







</head>



<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header col-sm-10">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">.::RJP-Motors::.</a>
			</div>
			<div class="btn btn-primary botton_user col-sm-2">
				{% if user.is_authenticated %}
					{{user.username}}
				{% else %}
					<div class="collapse navbar-collapse navbar-right" id="menu">
						<a href="{% url 'social:begin' 'facebook' %}" class=" btn btn-default ">Ingrese Con Facebook</a>
					</div>
				{% endif %}
				
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row ">
			<div class="col-sm-6 ">
				<h3 class="tu-mejor-restaurante">Encuentra tu mejor restaurante</h3>  

			</div>

			<div class="col-sm-6 buscador-home" >
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-primary">Cities</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="city">
							<span class="caret"></span>
							<span class="sr-only">Elige la ciudad</span>
						</button>
						<ul class="dropdown-menu" role="menu" id="ciudad">
							{% for city in cities %}
								<li><a id="{{city.id}}" href="#">{{ city.name }}</a></li>
							{% endfor %}
						</ul>
					</div>              
					<input type="text" id="buscador-ciudades" class="form-control" placeholder="Encuentre lo que busca" />
				</div>

			</div>
		</div>
	</div>

	<div class="container contenido-home">

		<div class="col-sm-3 ">
			<div class="form-group">
				<label class="categorias" for="">Categories</label>
				<div class="checkbox">
						<label class="all-categories " for="">
							<input class="categoria" id="{{category.id}}" type="checkbox">Todas las categorias
						</label>
					</div>
				{% for	category in categories %}
					<div class="checkbox">
						<label for="">
							<input class="pago" id="{{payment.id}}" type="checkbox">{{ category.name }}
						</label>
					</div>
				{% endfor %}
			</div>
			<br />
			<br />

			<div class="form-group">
				<label class="formas-de-pago" for="">Formas de pago</label>
					<div class="checkbox">
						<label class="all-categories" for="">
							<input  type="checkbox">Todas formas de pago
						</label>
					</div>
				{% for payment in payments %}
					<div class="checkbox">
						<label for="">
							<input type="checkbox">{{ payment.pay }}
						</label>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="col-sm-9" id="container-restaurantes">
			
		</div>
	</div>


		<!--   MODALLLLLLL-->

	<div data-target=".bs-example-modal-lg" class="modal fade" id="myModal" role="dialog">
	    <div class="modal-dialog modal-lg">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	      <div id="continer-detalle">
	      	
	      </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	  </div>
	  
	</div>








	<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/vendor/underscore-min.js' %}"></script>
	<script src="{% static 'js/vendor/backbone-min.js' %}"></script>



	<script src="{% static 'js/backbone/models/models.js' %}"></script>
	<script src="{% static 'js/backbone/routes/ruta.js' %}"></script>
	<script src="{% static 'js/backbone/collections/collections.js' %}"></script>
	<script src="{% static 'js/backbone/views/views.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>





</body>
</html>
